<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <ros2_control name="GazeboSystemHWI" type="system">
        <hardware>
            <plugin>mock_components/GenericSystem</plugin>
        </hardware>

        <joint name="wheel1_joint">
            <command_interface name="velocity">
                <param name="min">-3</param>
                <param name="max">3</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="wheel2_joint">
            <command_interface name="velocity">
                <param name="min">-3</param>
                <param name="max">3</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="wheel3_joint">
            <command_interface name="velocity">
                <param name="min">-3</param>
                <param name="max">3</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="wheel4_joint">
            <command_interface name="velocity">
                <param name="min">-3</param>
                <param name="max">3</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>
</robot>